<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".network.MasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_cloudy"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_cloudy_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".setting.PrivacyPolicyActivity"></activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <meta-data -->
        <!-- android:name="firebase_messaging_auto_init_enabled" -->
        <!-- android:value="false" /> -->
        <!-- <meta-data -->
        <!-- android:name="firebase_analytics_collection_enabled" -->
        <!-- android:value="false" /> -->
        <activity android:name=".master.ReportSearchActivity" />
        <activity android:name=".master.MasterReportActivity" />
        <activity android:name=".master.StudentListActivity" />
        <activity android:name=".master.EnrollStudentActivity" />
        <activity android:name=".master.MainActivity2" />
        <activity android:name=".setting.MyInfoActivity" />
        <activity android:name=".setting.ChangePasswordActivity" />
        <activity android:name=".user.FindPasswordActivity" />
        <activity android:name=".main.SchoolMealActivity" />
        <activity android:name=".main.TodoListActivity" />
        <activity android:name=".main.TimeTableActivity" />
        <activity android:name=".setting.ReportActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".board.SearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".board.ScrapActivity" />
        <activity
            android:name=".board.BoardWriteActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".board.BoardDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".board.BoardActivity" />
        <activity android:name=".board.PostImagePagerActivity" />
        <activity android:name=".user.SignUpActivity" />
        <activity android:name=".user.LoginActivity" />
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>